COMPOSE_PROJECT_NAME=master-master

TIMEZONE=utc

ADMINER_VERSION=latest
ADMINER_PORT=8080
ADMINER_DESIGN=mvt

MYSQL_TEMP_ADMIN_USER=admin

MYSQL_VERSION=latest
MYSQL_DATABASE=prova
MYSQL_USER=hola
MYSQL_PASSWORD=123465
MYSQL_ROOT_PASSWORD=root

MASTER_ALPHA_ENTRYPOINT_INITDB=./master-alpha/docker-entrypoint-initdb.d
MASTER_BETA_ENTRYPOINT_INITDB=./master-beta/docker-entrypoint-initdb.d

NODE_VERSION=lts