COMPOSE_PROJECT_NAME=master-master

TIMEZONE=utc

ADMINER_VERSION=latest
ADMINER_PORT=8080
ADMINER_DESIGN=mvt

MYSQL_TEMP_ADMIN_USER=admin

MASTER_1_VERSION=latest
MASTER_1_DATABASE=prova
MASTER_1_USER=hola
MASTER_1_PASSWORD=123456
MASTER_1_ROOT_PASSWORD=root
MASTER_1_ENTRYPOINT_INITDB=./master/docker-entrypoint-initdb.d

MASTER_2_VERSION=latest
MASTER_2_DATABASE=prova
MASTER_2_USER=hola
MASTER_2_PASSWORD=123456
MASTER_2_ROOT_PASSWORD=root
MASTER_2_ENTRYPOINT_INITDB=./slave/docker-entrypoint-initdb.d

NODE_VERSION=lts