COMPOSE_PROJECT_NAME=master-slave

TIMEZONE=utc

ADMINER_VERSION=latest
ADMINER_PORT=8080
ADMINER_DESIGN=mvt

MASTER_VERSION=latest
MASTER_DATABASE=prova
MASTER_USER=hola
MASTER_PASSWORD=123456
MASTER_ROOT_PASSWORD=root
MASTER_ENTRYPOINT_INITDB=./master/docker-entrypoint-initdb.d

SLAVE_VERSION=latest
SLAVE_DATABASE=prova
SLAVE_USER=hola
SLAVE_PASSWORD=123456
SLAVE_ROOT_PASSWORD=root
SLAVE_ENTRYPOINT_INITDB=./slave/docker-entrypoint-initdb.d