# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]


[mysqld]
default-authentication-plugin=mysql_native_password

bind-address = 0.0.0.0
character-set-server = utf8mb4
sync_binlog = 0

# For master and slave
log-bin = mysql-bin
binlog-ignore-db = mysql

# relay_log = relay_bin
# relay-log-index = relay-bin.index
# read-only=1 # 除非有SUPER權限，否則只讀
# super-read-only=1 # SUPER權限也是只讀